.button {
  display: inline-block;
  background: $blue;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 5px 12px rgba(0, 0, 0, .5);   
  color: #fff;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
  transition: all .2s;
  &:hover {
    box-shadow: 1px 3px 8px rgba(0, 0, 0, .6);
    background: lighten($blue, 8%);
    color: #fefefe;
  }

  &--link {
    background: none;
    box-shadow: none;
    &:hover {
      background: none;
      box-shadow: none;
      color: #efefef;
    }
  }

  &--secondary {
    background: $grey;
    &:hover {
      background: lighten($grey, 8%);
      color: #fefefe;
    }
  }

  &--login {
    padding-left: 2.5rem;
    text-align: left;
    margin: $s-size .5rem;    
  }
}